<nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#"><i class="fas fa-fist-raised"></i> L101</a>

    <form class="form-inline my-2 my-lg-0 ml-auto mr-sm-5" id="nav-search-form" action="/search" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" id="nav-inline-search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar">
        <i class="fas fa-align-right"></i>
    </button>
</nav>